

services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    env_file:
      - .env
    environment:
      TZ: ${TZ}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - portainer_data:/data
    ports:
      - "${PORTAINER_PORT}:9000"
      - "${PORTAINER_HTTPS_PORT}:9443"
    networks:
      - proxynet  # Se une a tu red existente
    deploy:
      resources:
        limits:
          memory: 512M
    labels:
      - "com.docker.compose.project=${PROJECT_NAME}"
      - "com.docker.compose.stack=admin"
      - "com.docker.compose.network=proxynet"

volumes:
  portainer_data:

networks:
  proxynet:
    external: true  # Referencia a la red que ya usas en phpMyAdmin